.container {
  width: 1100px;
}

/*Header*/

.header {
  display: grid;
  grid-template-columns: 1fr 129px 1fr;
  align-items: center;
  padding: 93px 50px 90px;
  font-size: 18px;
}

.header__logo-image {
  width: 134px;
  height: 108px;
}

.header__links-list {
  display: flex;
  gap: 5px;

  list-style: inside circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list-item {
    padding-right: 8px;
}

.header__link_active,
.footer__link-active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-style: normal
}

.header__address {
  padding: 0px 0px 0px 197px;
}

.address .address_link {
  text-underline-offset: 5px;
}

/*Cover*/

.cover {
  background: url("../images/cover.jpg");
  padding: 165px 50px 50px;
  position: relative;
  margin-bottom: 90px;
}

.overlay {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  color: #ffffff;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
}

.cover__title > span {
  display: block;
}

.aligned-text {
  letter-spacing: 6px;
}

.aligned-text .letter-spacing-extended {
    margin-left: -4px;
    letter-spacing: 59px;
}

.aligned-text_center {
  padding: 11px 0 6px 0;
  text-align: center;
  letter-spacing: 26px;
}

.aligned-text_center .letter-spacing-extended {
    margin-left: -42px;
    letter-spacing: 57px;
}

.aligned-text_right {
  text-align: right;
  padding-bottom: 129px;
  letter-spacing: 31px;
}

.aligned-text_right .letter-spacing-extended {
  letter-spacing: 8px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
  align-items: center;
  padding-left: 32px;
}

.cover__description-text {
  word-spacing: 18px;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 14px 32px 9px;
  font-size: 22px;
  text-transform: uppercase;
}

/*Lots*/

.lots {
  padding: 90px 24px;
}

.h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.h3 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.lots__heading,
.lots__look-more-link {
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding: 28px 0 30px;
  list-style: none;
}

.lots__card-list-item { 
  width: 31%;
  min-height: 563px;
  flex-grow: 1;
  position: relative; 
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
  z-index: 1;
  position: relative;
}

.card {
  height: 100%;
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  z-index: 1;
  position: relative;
}

.card__title {
  text-decoration: underline;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
}

/*About*/

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  padding: 56px 24px 178px;
}

.about .about__column:first-child {
  padding: 35px 47px 320px;
}

.about__logo {
  background: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
}

.about__logo-image {
  width: 141px;
}

.about__title {
  padding: 137px 0 99px;
}

.about__text p:first-child {
  padding-bottom: 26px;
}

/*footer*/

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 0 47px 90px 53px;
}

.footer ul {
  list-style: none;
}

.footer__menu-list {
  text-align: center;
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-content: flex-end;
}

.footer__social-icon {
  width: 48px;
}
